/*!
 * about.scss
 * Dylan Todd
 *
 * 11.04.19
 * For use by and for Family First Life Insurance Brokerage
 */
.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
}
